 body {
     font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF; 
    color: #434455;
 }
p,ul,h1,h2,h3,h4,h5,h6 {
   margin-top: 0;
   margin-bottom: 0;   
}
 ul {
     list-style-type: none;
padding-left: 0;
margin-top: 0;
    margin-bottom: 0;
 }

 a {
     text-decoration: none;
 }
button{
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;

}
/* HEADER */
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
}

.container{
/* width: 1158px; */
/* padding: 0 15px; */
width: 320px;
padding: 16px;
margin: 0 auto;
} 

 
      
.header-navigation{
    display: flex;
    align-items:center;
    margin-right: auto;

}

.header-container{
    display: flex;
    align-items: center;

}
.header-logo{
    color: var(--CLOUD, #4d5ae5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    margin-right: 76px;
       
        

}
.header-logo-studio{
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        position: relative;
    

        
}
 .header-menu-link {
     color: var(--NAVY-BLUE, #2E2F42);
     font-size: 16px;
     font-weight: 500;
     line-height: 1.50;
     letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
   
}
 .studio-link{
position: relative;
    color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        
 }
 
        .studio-link::after{
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;

        }

   .header-menu-list {
      /*  display: flex; */
      display: none;
    align-items: center;
    gap: 40px;
    }
 .header-menu-link:hover,
 .header-menu-link:focus{
color:#404bbf;
 }
 
 .header-adress{
    font-style: normal;
 }
 .adress-menu-list {
     /* display: flex; */
     display: none;
     align-items: center;
     gap: 40px;


 }
  .header-contact {color: var(--SLATE, #434455); 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .header-contact:hover,
    .header-contact:focus{
color:#404bbf;
    }
    .menu-open-btn{
        border:none;
        background-color:transparent;
    }
    .mob-menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ffffff;
        padding-left: 16px;
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        overflow: auto;
    }
    .mob-menu.is-open{
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .mob-menu-btn {
        width: 24px;
        height: 24px;
        background-color: transparent;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
    margin-left: auto;
      margin-bottom: 24px;
      
    }
    .mob-modal-icons {
        
    }
    .mob-navigation {
    }
    .mob-menu-list {
        padding-bottom: 128px;

        
    }
    .mob-menu-item{
        margin-bottom:40px;
    
    }
    .mob-menu-link {
    
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;


    }
    .studio-mob-link {
        color: #404bbf;
    }
    .mob-adress {
    }
    .adress-mob-list {
    }
    .adress-mob-link {
        margin-bottom: 24px;
    }
    .mob-contact {
        
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
    }
    .mob-tel{
        color: #4d5ae5;
    }
    .mob-icon-list {
        display: flex;
        justify-content: center;
        gap: 40px;
       /*  padding-top: 24px; */
      
    }
    .mob-icon-item {
        width: 40px;
        height: 40px;
    }
    .mob-icon-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#4d5ae5;
        border-radius: 50%; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mob-icon-icon {
    }
/* HEADER */



/* HERO */
.hero {
    background-color:  #2E2F42; 
    /* max-width: 1440px; */
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   /* padding: 188px 0 188px; */
   padding-top: 72px;
  
  

 
 

  
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }
      
        
 
    


.hero-titel{
    color: var(--WHITE, #FFF);
        text-align: center;
       /*  font-size: 56px; */
       font-size: 36px;
        font-weight: 700;
        /* line-height: 1.07; */ 
        line-height: 1.1;
        letter-spacing: 0.02em;
        /* max-width: 496px; */
        max-width: 216px;
margin: 0 auto;
/* margin-bottom: 48px; */
margin-bottom: 72px;


}
.hero-btn {
    background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.hero-btn {
        color:  #FFF;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer ; 
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            margin-left: auto;
            margin-right: auto;
            border-radius: 4px;
            margin-bottom: 72px;
        }
    
         
  .hero-btn:hover,
 .hero-btn:focus,
.hero-btn:active{
background-color: #404BBF
                   }
 /*  HERO    */              

/*  FEATURES */
 .features {
    background-color: #FFFFFF;
/*     padding-bottom: 120px;
    padding-top: 120px; */
    padding-bottom: 48px;
    padding-top: 48px;
 }
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
  
 .features-list {
    display: flex;
        align-items: center;
      /* gap:24px; */
      gap:72px;
        flex-wrap: wrap;
 }
     
 .feature-item {
 /*    width: calc((100% - 72px) / 4); */
 width: 100%;
 }
 .features-list-icon {
/*     display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px; */
    display: none;
 }

        
 .fatures-subtitel {
    color: #2E2F42;
       /*  font-size: 20px; */
       font-size: 36px;
        /*  font-weight: 500; */
        font-weight: 700;
       /*  line-height: 1.2; */
       line-height: 1.1;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;
    
 }
        
.fetures-item-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
       /*  font-weight: 400; */
       font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;

       
}
/* FEATURES */

/* TEAM */
.team {
    background-color: var(--CLOUD, #F4F4FD);
       /*  padding: 120px 0; */
       padding: 48px 0;

    
}
.container-team {
    padding: 32px 0;

}
    .team-container {
      
    }

.team-titel {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team-item {

}


.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
 

}
.icon-item {
    width: 40px;
    height: 40px;
 

    
}
.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#4d5ae5;
    border-radius: 50%; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
 .icon-link:focus{
    background-color: #404bbf;
    }

.icon-icon {
    fill: #f4f4fd;
}

.team-list {
display: flex;
    align-items: center;
    /* gap: 24px; */
   gap: 72px;
   flex-wrap: wrap;
   
}
.icon-icon{
    
}

.team-item {
    background-color: #FFFFFF;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
width:100%;

}

.team-img {
    width: 100%;
}

.team-name {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;
}

.team-text {
    color: var(--SLATE, #434455);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
       margin-bottom: 8px;

}
/* TEAM */

/* PORTFOLIO */
.portfolio {
/*     padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 48px;
    padding-bottom: 48px;
}
.portfolio-conteiner {
}

.portfolio-titel {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    
}

.portfolio-list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
        align-items: center;
      /*   gap: 24px; */
      gap:48px;
    row-gap: 48px;

    
}


.portfolio-item {

/* width: calc((100% - 48px) / 3); */
width:100%;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{

    box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}



.portfolio-img {
   
}
.portfolio-img-container{
    position: relative;
    overflow: hidden;
}
.container-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-container-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.02em;
color:#F4F4FD;
padding: 40px 32px;
background-color: #4d5ae5;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover
.portfolio-container-text{
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);

    
}


.portfolio-subtitel {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}


.portfolio-text {
    color: var(--SLATE, #434455);
    
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.portfolio-text:hover{
    
   
}
/* PORTFOLIO */

/* FOOTER */
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px;


    
    
}
.container-footer{   
    display: flex;
    align-items: baseline;

   
}
.conteiner-footer-logo{
 
 margin-right: 120px;
 margin-left: 156px; 
}

.footer-logo {
    color: var(--CLOUD,#4d5ae5);
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: inline-block;
}

.footer-logo-studio {
    color: var(--IRIS,#F4F4FD);
    
}
.footer-text {
    color:#F4F4FD;
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        max-width: 264px;
}
.footer-icon-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.container-soc-icon {
 
}

.icon-list-footer {
    display: flex;
    gap: 16px;
}
.icon-item-footer {
    width: 40px;
    height: 40px;
}
.icon-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-link-footer:hover,
.icon-link-footer:focus{
    background-color: #31d0aa;
}
.icon-icon-footer {
    fill: #f4f4fd;

}

 
.footer-form{
    display: flex;
    gap: 24px;
}
.footer-email-text{
    margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;

}
.footer-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    color: #ffffff;
}
.placeholder{
    color: #ffffff;
}
.footer-input-btn{
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border-radius: 4px;
border:none;

}
.footer-icon-btn{
    margin-left: 16px;
}


/* FOOTER */

/* MODAL */

.backdrop{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    border-color:rgba(46, 47, 66, 0.4); 
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal{
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
 position: absolute;
top: 50%;
left: 50%;
padding: 24px;
transform: translate(-50%, -50%) scale(1);
background: #fcfcfc;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}
.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: #404bbf;
    border:0;
    fill: #ffffff;
}

.modal-icons{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title{
    font-weight: 500;
    max-width: 360;
    margin-bottom: 16px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42
}
.modal-container{
    margin-bottom: 8px;
}
.modal-input-wrap{
    position: relative;
}
.modal-input{
    width: 100%;
    height: 100%;
    outline: transparent;
border-radius: 4px;
padding-left: 38px;
width: 360px;
height: 40px;
transition-duration: 300ms;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
    border-color:#4D5AE5;
}
.modal-input:focus+.modal-icon{
    fill:#4D5AE5;
}

.modal-label{
    width: 58px;
    height: 14px;
    display: block;
    margin-bottom: 4px;
    color:#8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-icon{
    fill:#2E2F42;;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 300ms;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment{
margin-bottom: 16px;
}
.modal-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
border-radius: 4px;
padding: 8px 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
resize: none;
background-color: transparent;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color:  rgba(46, 47, 66, 0.4);
}
.modal-textarea:focus{
    border-color: #4D5AE5;
}
.modal-check{
    margin-bottom: 24px;
}

.input-check:checked + .check-text .checkbox-icon{
    background-color:#404bbf;
    fill:#F4F4FD;
    border: none;
    
}
.check-text{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;


}
.checkbox-icon{
    width:16px;
    height:16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}
.check-text a{
    line-height: 133%;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.check-text span{


}

.check-icon{
    display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;


}
.modal-button{
    display:block;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5  ;
transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
border:none;
margin:0 auto;
}
.privacy{
   color: #4d5ae5;
}
/* MODAL */

@media screen and (min-width:768px){
    
    .container{
        width: 736px;
        
    }
    .team>.container{
        width: 552px;
    }
    /* HEADER */
    .header-container{
        width: 100%;
    }
.menu-open-btn{
    display: none;
} 

.header-menu-list{
display: flex;
}
.adress-menu-list{
display: flex;
flex-direction: column;
gap: 12px;

}

    
    /* FEATURES */
    
    .hero-titel{
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        
    }

    .fatures-subtitel {
        text-align:left;
    }

    .features-list{
        column-gap: 24px;
    }
 .feature-item{
        width: calc((100% - 24px) / 2);
    } 
   /* FEATURES */
   /* TEAM */
   .team-container{
width: 736px;
   }
 
   .team-list{
    column-gap:24px;
   }
   .team-item{
     width: calc((100% - 24px) / 2); 

   }
   /* TEAM */
   /* PORTFOLIO */
   .portfolio-conteiner{
    width: 736px;
   }
   .portfolio-list{
    column-gap: 24px;
   }
   .portfolio-item{
    width: calc((100% - 24px) / 2);
   }
   /* FOOTER */
}





@media screen and (min-width:1158px){
    
    .container{
   width: 1158px; 
   padding: 0 15px;
    }
    .team>.container{
        width:1158px;
    }
    /* HEADER */
  
    .adress-menu-list{
         display: flex;
        flex-direction: row;
        gap: 40px;
        }
       
  /* HERO */
  .hero {
    max-width: 1440px;
    padding: 188px 0 188px;
  }
  .hero-titel{
    margin-bottom: 48px;
  }
  .hero-btn{
    margin-bottom: 0;

  }
    /* FEATURES */
    .features{
   padding-bottom: 120px;
    padding-top: 120px;
    }
    .features-list{
      gap:24px;
}
.feature-item{
         width: calc((100% - 72px) / 4);
}
.features-list-icon{
        display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.fatures-subtitel{
    font-style: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.fetures-item-text{
    font-weight: 400;
}
/* FEATURES */
/* TEAM */
.team{
    padding: 120px 0;
}
.team-list{
    gap: 24px;
}
.team-item{
    width: calc((100% - 72px) / 4);
}
/* TEAM */
/* PORTFOLIO */
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list{
    gap: 24px;
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
}
/* PORTFOLIO */
/* FOOTER */

/* FOOTER */


}

    



